<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="shortcut icon" href="../../frontend/assets//images/favicon.ico">
    <meta name="Description" content="Author: douglasproglima, Illustrator: Douglasproglima, Category: genarator password">
    <title>Gerador de Senhas</title>
</head>
<body>
    <section class="container">
        <h1>Gerador de Senhas</h1>
        <hr>
        <form action="/" method="POST">
            <label for="empresa">Empresa</label>
            <input id="empresa" name="empresa" type="text">
            <button>Enviar</button>
        </form>
        <hr>
    </section>

    <script src="./assets/js/bundle.js"></script>
</body>
</html>