:root {
    --primary-color: (rgb(97, 233, 97), rgb(255, 170, 72), rgb(88, 88, 255));
    --primary-color-dark: (rgb(67, 151, 67), rgb(184, 122, 51), rgb(60, 60, 182));
    --primary-color-dark-active: (rgb(27, 65, 27), rgb(107, 71, 29), rgb(29, 29, 95));
}

* {
    box-sizing: border-box;
    outline: 0;
    color: rgb(106, 108, 189);
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(68, 67, 67);
    background: var(primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: rgb(235, 233, 233);
    padding: 20px;
    border-radius: 15px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    height: 20px;
    margin-top: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    color: rgb(43, 41, 41);
}

form input:focus {
    outline: 3px solid var(--primary-color);
}

form button {
    border: none;
    background: rgb(106, 108, 189);
    color: rgb(235, 233, 233);
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 25px;
}

form button:hover {
    background: rgb(67, 68, 134);
}

form button:active {
    background: var(--primary-color-dark-active);
}

/* Tabela Superior */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid rgb(207, 204, 204)
  }
  
  th, td {
    text-align: left;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #cecbcb;
  }

/* Resultado  */
.paragrafo-result {
   background: rgb(207, 204, 204);
   margin-top: 20px;
}

.paragrafo-result-error {
    background: rgb(233, 138, 138);
    margin-top: 20px;
 }