<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="shortcut icon" href="../../frontend/assets//images/favicon.ico">
    <meta name="Description" content="Author: douglasproglima, Illustrator: Douglasproglima, Category: genarator password">
    <title><%- title %></title>
</head>