:root {
    --indigo: #675aa9;
    --indigo-houver: #7d6dca;
    --indigo-active: #605499;
    --indigo-result: rgb(--indigo, --indigo-houver, --indigo-active);
    --white: #fff;
    --success: #10c469;
    --info: #35b8e0;
    --warning: #f9c851;
    --danger: #ff5b5b;
    --light: #323a46;
    --dark: #f1f5f7;
    --purple: #5b69bc;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Roboto",sans-serif;
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

* {
    box-sizing: border-box;
    outline: 0;
    color: var(--dark);
    margin: 0 auto;
}

body{
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.5em;
    background-color: #282e38;
    background: #978cf8;
    color: var(--dark);
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

h3 {
    text-align: center;
    font-family: 'Open sans', sans-serif;
    font-size: 1.9em;
}

hr {
    margin: 20px 0;
    border: 2px;
    border-top: 3px solid var(--indigo);
  }


.container{
    max-width: 640px;
    margin: 50px auto;
    padding: 1.5rem;
    border-radius: 15px;
    background: #323a46;
    box-sizing: border-box;
    box-shadow: 0em 0rem 5rem #546072;
    border: 3px solid var(--indigo-houver)
}

form input, form label, form button {
    display: block;
    width: 100%;
    height: 20px;
    margin-top: 10px;
}

form input {
    font-size: 18px;
    height: 40px;
    padding: 0 20px;
    color: rgb(43, 41, 41);
}

form input:focus {
    outline: 3px solid var(--dark);
}

form button {
    border: none;
    background: var(--indigo);
    color: var(--dark);
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    cursor: pointer;
    margin-top: 25px;
}

form button:hover {
    background: var(--indigo-houver);
}

form button:active {
    background: var(--indigo-active);
}

/* Tabela Superior */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid var(--indigo-active);
    margin-top: 20px;
  }
  
  th, td {
    text-align: center;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: var(--indigo-active);
  }

/* Resultado  */
.paragrafo-result {
   background: var(--indigo-result);
   margin-top: 20px;
   padding: 10px;
   border-radius: 15px;
   background: #323a46;
   box-sizing: border-box;
   box-shadow: 0em 0rem 5rem #546072;
   border: 3px solid var(--indigo-houver)
}

.paragrafo-result-error {
    background: var(--indigo-result);
    margin-top: 20px;
}
